Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update sim config files with uuids and use those for new SimControllers
  packages/backend/src/config.json
  packages/backend/src/controllers/SimController.js
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

remove half of the fake sims from config.json
  packages/backend/src/config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

install sql-template-strings dependency for BE
  package-lock.json
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

use sql-template-strings & insert/update db rows from config.json
  packages/backend/src/database.db
  packages/backend/src/services/sqlite.js
  packages/backend/src/utils/config-file.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

close db on server shutdown, too
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add formatting to updated config file output
  packages/backend/src/utils/config-file.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add error handling to db insert
  packages/backend/src/database.db
  packages/backend/src/utils/config-file.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

remove IDs from config.json
  packages/backend/src/config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fix syncing database with config.json
  packages/backend/src/database.db
  packages/backend/src/index.js
  packages/backend/src/services/sqlite.js
  packages/backend/src/utils/config-file.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

make config.json keys unique
  .env.dist
  docker-compose.yml
  packages/backend/src/config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

rename python http server env key name
  .env.dist
  docker-compose.yml
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

use database uuid fro SimController instances
  packages/backend/src/controllers/SimController.js
  packages/backend/src/database.db
  packages/backend/src/handlers/protected/sim-list.js
  packages/backend/src/index.js
  packages/backend/src/utils/config-file.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix all ID-UUID naming issues
  packages/backend/src/handlers/protected/sim-list.js
  packages/backend/src/handlers/sockets/sim-id.js
  packages/backend/src/handlers/sockets/slider.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

cleanup env variables
  .env.dist
  docker-compose.yml
Due: none

146 create persistence layer via sqlite to store sim ids (#148)
  .env.dist
  docker-compose.yml
  package-lock.json
  packages/backend/package.json
  packages/backend/src/config.json
  packages/backend/src/controllers/SimController.js
  packages/backend/src/database.db
  packages/backend/src/handlers/protected/sim-list.js
  packages/backend/src/handlers/sockets/sim-id.js
  packages/backend/src/handlers/sockets/slider.js
  packages/backend/src/index.js
  packages/backend/src/services/sqlite.js
  packages/backend/src/sockets.js
  packages/backend/src/utils/config-file.js
  packages/backend/src/utils/config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

move error overlay to sim page controller & cleanup FE sockets
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

more FE sockets cleanup
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

redirect Frontend on missing simId #150
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

redirect Frontend on misformatted or similar simId
  packages/backend/src/handlers/protected/sim-list.js
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename thumbnail to thumbnailPath
  packages/backend/src/controllers/SimController.js
  packages/backend/src/handlers/protected/sim-list.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add resume and pause sim functions
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

reorder python server endpoints
  packages/simulation/start.py
Due: none

add connect, disconnect and connect error events to lib
  packages/libs/src/events.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

use new socket event types in frontend
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add client management to SimController
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

reorder SimController functions
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve start, pause, resume and reset of Python script handling
  packages/backend/src/controllers/SimController.js
  packages/simulation/start.py
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add simIsPaused attribute to SimController
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix getClients return value
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename GET sim-list logger
  packages/backend/src/handlers/protected/sim-list.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

WIP: pause sim when no clients are connected and then resume later
  packages/backend/src/handlers/sockets/disconnect.js
  packages/backend/src/handlers/sockets/sim-id.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

change color for logarithmic scale
  packages/frontend/src/js/components/range-slider.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

refactored variable names of PlotController
  packages/frontend/src/js/controllers/PlotController.js
  packages/frontend/src/js/controllers/SliderController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

initialize jest
  .eslintrc.json
  package-lock.json
  package.json
  packages/frontend/src/tests/LandingPageController.test.js
  packages/frontend/src/tests/LegendController.test.js
  packages/frontend/src/tests/PlotController.test.js
  packages/frontend/src/tests/SliderController.test.js
  packages/frontend/src/tests/VisualizationController.test.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add jest plugin for eslint
  package-lock.json
  package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update eslintrc to set rules for test files
  .eslintrc.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

move test script to Frontend package.json
  package.json
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add setup-jest script
  jest.config.js
  setup-jest.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Small landing-page tweaks and fix so that the range-sliders can reach max
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/styling/index.css
  packages/frontend/src/styling/simulation-preview.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve jest config
  jest.config.js
  setup-jest.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Path conditions:
  prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn: any of: **/*.{js,ts,json,html,md}
  eslint --fix --config ./.eslintrc.json: any of: **/*.{js,ts}
