Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added tests, refactored sockets.js and SimulationPageController
  packages/frontend/src/js/controllers/LandingPageController.test.js
  packages/frontend/src/js/controllers/LegendController.test.js
  packages/frontend/src/js/controllers/PlotController.test.js
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/controllers/SimulationPageController.test.js
  packages/frontend/src/js/controllers/SliderController.js
  packages/frontend/src/js/controllers/SliderController.test.js
  packages/frontend/src/js/controllers/VisualizationController.test.js
  packages/frontend/src/js/index.js
  packages/frontend/src/js/index.test.js
  packages/frontend/src/js/models/Molecule.test.js
  packages/frontend/src/js/models/Species.test.js
  packages/frontend/src/js/services/sockets.js
  packages/frontend/src/tests/VisualizationController.test.js
  setup-jest.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add babel for jest
  package-lock.json
  package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

use babel in jest
  babel.config.js
  jest.config.js
  packages/frontend/babel.config.json
  setup-jest.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

changes to make sim-previews a little bit more responsive to change of viewport width
  packages/frontend/src/js/components/simulation-preview.js
  packages/frontend/src/styling/simulation-preview.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename FE babel config
  packages/frontend/babel.config.js
  packages/frontend/babel.config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

cleanup package dependencies
  package-lock.json
  package.json
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

cleanup eslintrc
  .eslintrc.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

convert jest & babel config to ES6
  babel.config.js
  jest.config.js
  setup-jest.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename babel configs to jsons
  babel.config.js
  babel.config.json
  packages/frontend/babel.config.js
  packages/frontend/babel.config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve jest babel-jest config
  jest.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

restructure sim page controller & sockets
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix babel config in frontend
  packages/frontend/babel.config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

remove unnecessary type:module in package.jsons
  package.json
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

cleanup jest setup js
  setup-jest.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

revert jest config back to cjs
  jest.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

extend jest config
  jest.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix eslint cases for test files
  .eslintrc.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fix eslint cases again
  .eslintrc.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

mock plotly in tests
  packages/frontend/src/js/controllers/PlotController.test.js
  setup-jest.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

113 write unit test for frontend (#153)
  .eslintrc.json
  babel.config.json
  jest.config.js
  package-lock.json
  package.json
  packages/frontend/babel.config.json
  packages/frontend/package.json
  packages/frontend/src/js/controllers/LandingPageController.test.js
  packages/frontend/src/js/controllers/LegendController.test.js
  packages/frontend/src/js/controllers/PlotController.test.js
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/controllers/SimulationPageController.test.js
  packages/frontend/src/js/controllers/SliderController.js
  packages/frontend/src/js/controllers/SliderController.test.js
  packages/frontend/src/js/controllers/VisualizationController.test.js
  packages/frontend/src/js/index.js
  packages/frontend/src/js/index.test.js
  packages/frontend/src/js/models/Molecule.test.js
  packages/frontend/src/js/models/Species.test.js
  packages/frontend/src/js/services/sockets.js
  setup-jest.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix calling jest tests with scope
  jest.config.js
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Adding the reset button in FE and implementing some functionality to prepare the usage of the reset-endpoint
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/resources/misc/reset-button.png
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

MAINT Return a TOF of 0.0 in start.py if the simulation returns NaN
  packages/simulation/start.py
Due: none

MAINT Return a TOF of 0.0 in start.py if the simulation returns NaN (#154)
  packages/simulation/start.py
Due: none

add gracefull shutdown for paused sim worker
  packages/backend/src/controllers/WorkerController.js
  packages/backend/src/handlers/sockets/disconnect.js
  packages/backend/src/worker/main.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add gracefull shutdown for workers on Node shutdown
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix SimController log for pausing sim
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve error log for not-okay fetch requests
  packages/backend/src/controllers/SimController.js
  packages/frontend/src/js/controllers/SimulationPageController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename get fetch worker callbacks function
  packages/backend/src/handlers/sockets/sim-id.js
  packages/backend/src/sockets.js
  packages/backend/src/utils/worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add hasStarted and isPaused attributes on initial Python health check
  packages/simulation/start.py
Due: none

retrieve initial state (started/paused) of Python sim on health check
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

clarify config-to-sim-controller local JSON file
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve reading certificate files for HTTPS & add logging
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add comments to individual components in index.js
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add script to generate local certs for HTTPS
  .gitignore
  packages/backend/generate-local-cert.sh
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

check if env values exist on server start #99
  packages/backend/src/index.js
  packages/backend/src/utils/env-values.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

make equal checks more strict
  packages/backend/src/utils/config-file.js
  packages/backend/src/worker/main.js
  packages/frontend/src/js/controllers/SimulationPageController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve sim-list logs
  packages/backend/src/handlers/protected/sim-list.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

trim query param sim id on GET /list
  packages/backend/src/handlers/protected/sim-list.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

send 404 instead of 400 on GET /list with unknown id
  packages/backend/src/handlers/protected/sim-list.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Path conditions:
  prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn: any of: **/*.{js,ts,json,html,md}
  eslint --fix --config ./.eslintrc.json: any of: **/*.{js,ts}
