Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix typo in global package.json
  package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add missing global README details
  README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

install logger in correct repo package
  package-lock.json
  packages/backend/package.json
  packages/libs/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

describe logger lib in libs README
  packages/libs/README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

adjust vite envDir in config
  packages/frontend/vite.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add script to copy Frontend dist folder to backend/static
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

Revert "add script to copy Frontend dist folder to backend/static"
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

visualizsation script now using the new json data format
  packages/frontend/src/data/new-json-data-format/initial-data.json
  packages/frontend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix missing comma in package.json
  package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update package-lock.json
  package-lock.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update GitHub wiki clone URL in Readme
  README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

Run backend server & redis in Docker #44
  .dockerignore
  .env.dist
  docker-compose.yml
  packages/backend/Dockerfile
Due: none

Update eslintignore
  .eslintignore
Due: none

fix backend docker image start command
  docker-compose.yml
Due: none

#19 all geometries as one group, calculating offset to put the group at x=0
  packages/frontend/src/index.js
  packages/frontend/src/models/Species.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

species from previous config now being removed from scene before rendering the new config
  packages/frontend/src/data/new-json-data-format/dynamic-data.json
  packages/frontend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added fhi logo / button icons / Frontend: created Slider, grid, back button, layout
  packages/frontend/src/img/back.png
  packages/frontend/src/img/fhi_logo.png
  packages/frontend/src/img/fhi_logo_1.png
  packages/frontend/src/img/left-arrow.png
  packages/frontend/src/index.html
  packages/frontend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update .env.dist to include correct backend URL in docker
  .env.dist
Due: none

fix libs not present for backend in docker #53
  packages/backend/Dockerfile
Due: none

fix package-lock.json & add clean script to remove node_modules
  package-lock.json
  package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

set a target for vite build
  packages/frontend/vite.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

build frontend into backend during docker image build #44
  docker-compose.yml
  packages/backend/Dockerfile
Due: none

#19 implemented dynamic viewport
  packages/frontend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix docker-compose
  docker-compose.yml
Due: none

update global Readme to include Docker & clean it up
  README.md
  package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

cleanup some package.json
  package-lock.json
  package.json
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

WIP: WebComponent implementation, first implementation on landing-page
  packages/frontend/src/components/simulation-preview.js
  packages/frontend/src/img/back.png
  packages/frontend/src/index.html
  packages/frontend/src/index.js
  packages/frontend/src/ressources/misc/fhi_logo.png
  packages/frontend/src/ressources/misc/fhi_logo_1.png
  packages/frontend/src/ressources/misc/fhi_text.png
  packages/frontend/src/ressources/misc/left-arrow.png
  packages/frontend/src/ressources/simulation-images/placeholder-image.png
  packages/frontend/src/simulation.html
  packages/frontend/src/simulation.js
  packages/frontend/src/styling/index.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add format:fix global npm script
  README.md
  package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add socket.io packaged to backend dependencies
  package-lock.json
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

implement first iteration of socketio into backend server
  packages/backend/src/app.js
  packages/backend/src/index.js
  packages/backend/src/static/index.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

extract socket server into own file
  packages/backend/src/index.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve logger meta data structure
  packages/libs/src/logger.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add websocket event types enum to libs
  packages/backend/src/utils/events.js
  packages/libs/src/events.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

enable bidirectional communication for server and clients via websockets
  packages/backend/src/handlers/events/message.js
  packages/backend/src/index.js
  packages/backend/src/sockets.js
  packages/backend/src/static/index.html
  packages/backend/src/websockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

WIP: WebComponent implementation, first implementation on landing-page (#60)
  packages/frontend/src/components/simulation-preview.js
  packages/frontend/src/img/back.png
  packages/frontend/src/index.html
  packages/frontend/src/index.js
  packages/frontend/src/ressources/misc/fhi_logo.png
  packages/frontend/src/ressources/misc/fhi_logo_1.png
  packages/frontend/src/ressources/misc/fhi_text.png
  packages/frontend/src/ressources/misc/left-arrow.png
  packages/frontend/src/ressources/simulation-images/placeholder-image.png
  packages/frontend/src/simulation.html
  packages/frontend/src/simulation.js
  packages/frontend/src/styling/index.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

merged dev, added plots with plotly.js
  package-lock.json
  package.json
  packages/frontend/src/data/new-json-data-format/initial-data.json
  packages/frontend/src/models/Molecule.js
  packages/frontend/src/simulation.html
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

random colors for graphs of plots
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

removed unused controls.saveState call
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix marker color
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Plots visualization (#66)
  package-lock.json
  package.json
  packages/frontend/src/data/new-json-data-format/initial-data.json
  packages/frontend/src/models/Molecule.js
  packages/frontend/src/simulation.html
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Path conditions:
  prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn: any of: **/*.{js,ts,json,html,md}
  eslint --fix --config ./.eslintrc.json: any of: **/*.{js,ts}
