Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

.lintstagedrc:

{
  "**/*.{js,ts,json,html,md}": [
    "prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn"
  ],
  "**/*.{js,ts}": ["eslint --fix --config ./.eslintrc.json"]
}

updated graph title
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Babel integration in webpack to support older browsers
  package-lock.json
  packages/frontend/.browserslistrc
  packages/frontend/babel.config.json
  packages/frontend/package.json
  packages/frontend/src/index.html
  packages/frontend/src/js/test.js
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed titles of graphs
  packages/frontend/src/js/controllers/plot-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

removed strange test.js file
  packages/frontend/src/js/test.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve imports to reduce webpack build time
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

remove test.js import from html
  packages/frontend/src/index.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update package-lock.json
  package-lock.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

WIP: import plotly differently
  packages/frontend/src/simulation.html
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

move FE index.js file into js folder
  packages/frontend/src/index.html
  packages/frontend/src/js/index.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

set FE socket console logs to debug level
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix sending initial sim data to FE
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

removed loading spinner from index.js
  packages/frontend/src/js/index.js
  packages/frontend/src/js/simulation.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update plots once after all new data was evaluated
  packages/frontend/src/js/controllers/plot-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed loading spinner
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/simulation.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added pausing functionality
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/services/sockets.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve FE socket debug output
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add worker delay to .env.dist
  .env.dist
Due: none

disable no-null eslint rule from unicorn
  .eslintrc.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

make Node worker configurable & improve worker usage
  docker-compose.yml
  packages/backend/src/index.js
  packages/backend/src/sockets.js
  packages/backend/src/worker/worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

implemented legend
  packages/frontend/src/index.html
  packages/frontend/src/js/controllers/legend-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/visualization-controller.js
  packages/frontend/src/js/simulation.js
  packages/frontend/src/ressources/misc/down.png
  packages/frontend/src/ressources/misc/down_hover.png
  packages/frontend/src/ressources/misc/favicon.svg
  packages/frontend/src/ressources/misc/fhi_logo.png
  packages/frontend/src/ressources/misc/fhi_logo.svg
  packages/frontend/src/ressources/misc/fhi_logo_1.png
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed pause function
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

refactored simulation view controller
  packages/frontend/src/js/controllers/simulation-view-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

titleImg out
  packages/frontend/src/index.html
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/index.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

remove data JSON files from backend
  packages/backend/src/data/1.json
  packages/backend/src/data/10.json
  packages/backend/src/data/2.json
  packages/backend/src/data/3.json
  packages/backend/src/data/4.json
  packages/backend/src/data/5.json
  packages/backend/src/data/6.json
  packages/backend/src/data/7.json
  packages/backend/src/data/8.json
  packages/backend/src/data/9.json
  packages/backend/src/data/initial.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

extract worker handlers to own file
  packages/backend/src/handlers/events/worker.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

WIP: add slider event handler #87
  packages/backend/src/handlers/events/dynamic.js
  packages/backend/src/handlers/events/slider.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

separate different target URLs #87
  packages/backend/src/handlers/events/slider.js
  packages/backend/src/index.js
  packages/backend/src/sockets.js
  packages/backend/src/worker/worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed legend toggle
  packages/frontend/src/js/controllers/legend-controller.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added images for pause button
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/ressources/misc/pause.png
  packages/frontend/src/ressources/misc/play.png
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add script to rebuild docker images
  package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fix slider event log message
  packages/backend/src/handlers/events/slider.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added svg logo
  packages/frontend/src/ressources/misc/fhi_logo.svg
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

removed maxStoredDataPoints (all new data points should be rendered in the plots), pauseButton tooltip based on browser language
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/services/sockets.js
  packages/frontend/src/js/simulation.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed position toggleBtn
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fixed legend button layout
  packages/frontend/src/js/controllers/legend-controller.js
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

updated font on graphs
  packages/frontend/src/js/controllers/plot-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

toggleButton reimplemented
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fixed margin-bottom a little
  packages/frontend/src/styling/simulation.css
Due: none

added flex-direction: row to legendcontainer
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fixed legend up down button switch
  packages/frontend/src/js/controllers/legend-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/ressources/misc/down.png
  packages/frontend/src/ressources/misc/down_hover.png
  packages/frontend/src/ressources/misc/up.png
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json
