Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

.lintstagedrc:

{
  "**/*.{js,ts,json,html,md}": [
    "prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn"
  ],
  "**/*.{js,ts}": ["eslint --fix --config ./.eslintrc.json"]
}

First steps to rework webcomponents
  packages/frontend/src/index.html
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/js/components/simulation-preview.js
  packages/frontend/src/ressources/simulation-images/placeholder.png
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/range-slider.css
  packages/frontend/src/styling/simulation-preview.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

slider controller setting sliders interactable or not depending on superUser
  packages/frontend/src/js/controllers/slider-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

changed
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/slider-controller.js
  packages/frontend/src/styling/range-slider.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Update start.py with adjusted dynamic data and /start /reset endpoints
  packages/simulation/start.py
Due: none

rename Python /static endpoint to /initial to harmonize project naming
  packages/simulation/start.py
Due: none

Update start.py with adjusted dynamic data and /start /reset endpoints (#130)
  packages/simulation/start.py
Due: none

fix initial config URL in backend
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

swap HTTP method for Python /start and /reset endpoints
  packages/simulation/start.py
Due: none

request Python server to start simulation on backend start (WIP)
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

sliders updating values with dynamicData
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/slider-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

isSuperUser = true
  packages/frontend/src/js/controllers/simulation-view-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Fix false truthy value in the disable force parameter for the range-slider component
  packages/frontend/src/js/components/range-slider.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

slider events send to backend
  packages/frontend/src/js/controllers/slider-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

order python http endpoints & add /health endpoint
  packages/simulation/start.py
Due: none

enforce controller files to be PascalCase
  .eslintrc.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

unstringify process.env values
  packages/backend/src/models/Worker.js
  packages/backend/src/utils/config-loader.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add start/reset functions and health-check to simulation class
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add fetch worker to sim model
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

remove config file path from config-loader log
  packages/backend/src/utils/config-loader.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

extract fetchworker callbacks from startSocketServer function
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

cleanup simulation model logic
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

use sim instances in sockets to assign clients to correct sim
  packages/backend/src/handlers/events/sim-id.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

load dummy sim config from file
  packages/backend/src/config.js
  packages/backend/src/config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename Models to Controllers & resolve worker file names
  packages/backend/src/controllers/Simulation.js
  packages/backend/src/controllers/Worker.js
  packages/backend/src/handlers/events/worker.js
  packages/backend/src/index.js
  packages/backend/src/sockets.js
  packages/backend/src/utils/config-loader.js
  packages/backend/src/utils/simulation-factory.js
  packages/backend/src/worker/events.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename files & cleanup up a lot of sim and worker related code
  packages/backend/src/controllers/SimController.js
  packages/backend/src/controllers/WorkerController.js
  packages/backend/src/sockets.js
  packages/backend/src/utils/config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

move ID assignment from config-loader to simulation model
  packages/backend/src/utils/config-loader.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

reintroduce fetch worker event handlers within sim controller
  packages/backend/src/controllers/Simulation.js
  packages/backend/src/controllers/Worker.js
  packages/backend/src/sockets.js
  packages/backend/src/worker/events.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update .env.dist to include config file path
  .env.dist
Due: none

cleanup simulation model logs
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add uuid dependency to backend
  package-lock.json
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

make name and description on simulation model public
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

remove path from success config-loader logger
  packages/backend/src/utils/config-loader.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename waitUntilSimIsHealthy
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename simInstances to simControllers
  packages/backend/src/index.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

WIP: create simulation config & assign socket clients to sim rooms
  packages/backend/src/handlers/events/sim-id.js
  packages/backend/src/handlers/events/worker.js
  packages/backend/src/index.js
  packages/backend/src/sockets.js
  packages/libs/src/events.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add getter for sim model initial data
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

find a better system to load sim URLs in config from environment
  .env.dist
  docker-compose.yml
  packages/backend/src/config.json
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve attributes of simulation model and output of toJSON function
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

load configs and create sim instances before server start
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

create Simulation class
  packages/backend/src/models/Simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json
