Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

.lintstagedrc:

{
  "**/*.{js,ts,json,html,md}": [
    "prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn"
  ],
  "**/*.{js,ts}": ["eslint --fix --config ./.eslintrc.json"]
}

fix GET /sim-list Id bug
  packages/backend/src/handlers/protected/sim-list.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

allow sim to be resetted via FE button #155
  packages/backend/src/handlers/protected/sim-reset.js
  packages/backend/src/routes/public.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix sqlite in docker issue #149 & improve docker setup
  docker-compose.yml
  package-lock.json
  package.json
  packages/backend/Dockerfile
  packages/simulation/Dockerfile
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

remove unneeded vite config
  packages/frontend/vite.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add database check to readiness endpoint
  packages/backend/src/handlers/public/readiness.js
  packages/backend/src/services/sqlite.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add serve-favicon middleware
  package-lock.json
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

serve favicon from the backend
  packages/backend/src/app.js
  packages/backend/src/images/favicon.svg
  packages/backend/src/images/placeholder.png
  packages/frontend/src/index.html
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

serve images from same folder
  packages/backend/src/app.js
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

revert: serve favicon only from the backend, do it both
  packages/frontend/src/index.html
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

Flexbox is out - grid is in
  packages/frontend/src/styling/index.css
  packages/frontend/src/styling/simulation-preview.css
Due: none

added frontend tests (WIP), removed async from renderInitialData in SimulationPageController
  jest.config.js
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/js/controllers/LandingPageController.test.js
  packages/frontend/src/js/controllers/LegendController.test.js
  packages/frontend/src/js/controllers/PlotController.test.js
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/controllers/SimulationPageController.test.js
  packages/frontend/src/js/controllers/SliderController.test.js
  packages/frontend/src/js/controllers/VisualizationController.test.js
  packages/frontend/src/js/index.test.js
  packages/frontend/src/js/models/Molecule.test.js
  packages/frontend/src/js/models/Species.test.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed newPlot mock to return a Promise
  setup-jest.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Correcting a css rule for the grid container
  packages/frontend/src/styling/index.css
  packages/frontend/src/styling/simulation-preview.css
Due: none

updated tooltip for pause button
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

added code documentation to frontend controllers + models
  packages/frontend/src/js/controllers/LandingPageController.js
  packages/frontend/src/js/controllers/LegendController.js
  packages/frontend/src/js/controllers/PlotController.js
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/controllers/SliderController.js
  packages/frontend/src/js/controllers/VisualizationController.js
  packages/frontend/src/js/models/Molecule.js
  packages/frontend/src/js/models/Species.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add basic-auth middleware for express
  package-lock.json
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

check credentials on requests with basic-auth #57
  .env.dist
  packages/backend/src/app.js
  packages/backend/src/middlewares/authorizer.js
  packages/backend/src/routes/protected.js
  packages/backend/src/routes/public.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update .env variables everywhere to include user credentials
  .env.dist
  docker-compose.yml
  packages/backend/src/utils/env-values.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

changed super User variables to moderator
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/controllers/SliderController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Reset sim and FE
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add user-role to new socket event type
  packages/backend/src/handlers/sockets/sim-id.js
  packages/frontend/src/js/services/sockets.js
  packages/libs/src/events.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Clear dynamic_data upon reset in start.py
  packages/simulation/start.py
Due: none

emit user role before initial data
  packages/backend/src/handlers/sockets/sim-id.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Clear dynamic_data upon reset in start.py (#157)
  packages/simulation/start.py
Due: none

Clear wrapper _history
  packages/simulation/start.py
Due: none

add option for a callback to authorizer
  packages/backend/src/app.js
  packages/backend/src/middlewares/authorizer.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

send credentials on FE io Object
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add cheap authorizer to retrieve the role on socket connections
  packages/backend/src/handlers/sockets/sim-id.js
  packages/backend/src/middlewares/sockets/client-data-handler.js
  packages/backend/src/middlewares/sockets/role-handler.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Clear wrapper _history (#158)
  packages/simulation/start.py
Due: none

rename client-data handler
  packages/backend/src/middlewares/sockets/client-setup-handler.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix path in generate-certs script
  packages/backend/generate-local-cert.sh
Due: none

improve not authorized response on socket middleware
  packages/backend/src/middlewares/sockets/role-handler.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve error message on https server creation
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

remove unneeded jwt code
  packages/backend/src/utils/generate-jwt.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

restructure jest config & discard monorepo jest setup
  packages/backend/babel.config.json
  packages/backend/jest.config.js
  packages/backend/package.json
  packages/frontend/jest.config.js
  packages/frontend/package.json
  packages/frontend/setup-jest.js
  packages/libs/jest.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Fix reset in start.py
  packages/simulation/start.py
Due: none

add type: module for backend back in
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add transform-import-meta babel plugin for BE
  package-lock.json
  packages/backend/babel.config.json
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

Fix reset
  packages/simulation/start.py
Due: none

add root jest config
  jest.config.js
  package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json
