Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

outline canvas/graphs// added title for sim
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fixed reset button layout
  packages/frontend/src/styling/simulation.css
Due: none

fixed canvas shrink
  packages/frontend/src/styling/simulation.css
Due: none

implemented media queries w/ for tablet size
  packages/frontend/src/styling/simulation.css
Due: none

implemented basic dynamically loaded legend
  packages/frontend/src/js/controllers/legend-controller.js
  packages/frontend/src/js/controllers/plot-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

not adding 'empty' type to the legend
  packages/frontend/src/js/controllers/legend-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added valueChanged event for range-sliders (currently only logging new value)
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/js/controllers/slider-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

set sendValueChangedEvent visibilty to private
  packages/frontend/src/js/controllers/slider-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Update start.py
  packages/simulation/start.py
Due: none

Update start.py (#93)
  packages/simulation/start.py
Due: none

legend info as paragraph
  packages/frontend/src/js/controllers/legend-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add comment for socket.id
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix Python Flask server within docker
  docker-compose.yml
  packages/simulation/Dockerfile
  packages/simulation/start.py
Due: none

switch GET to PUT for /resume and /pause Python endpoints
  packages/simulation/start.py
Due: none

replace socket listener with middlewares
  packages/backend/src/middlewares/events/error-handler.js
  packages/backend/src/middlewares/events/packet-logger.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add socket.io scripts back into simulation.html
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

remove some unneeded event logging details
  packages/backend/src/handlers/events/message.js
  packages/backend/src/middlewares/events/packet-logger.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename socket events everywhere to reflect actual data
  packages/backend/src/handlers/events/dynamic.js
  packages/backend/src/handlers/events/message.js
  packages/backend/src/sockets.js
  packages/frontend/src/js/services/sockets.js
  packages/libs/src/events.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

mock sending dynamic JSON data over sockets to FE
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

switch socket event for dynamic mock data
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update initial JSON data
  packages/backend/src/data/initial.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update dynamic JSON data
  packages/backend/src/data/1.json
  packages/backend/src/data/10.json
  packages/backend/src/data/11.json
  packages/backend/src/data/2.json
  packages/backend/src/data/3.json
  packages/backend/src/data/4.json
  packages/backend/src/data/5.json
  packages/backend/src/data/6.json
  packages/backend/src/data/7.json
  packages/backend/src/data/8.json
  packages/backend/src/data/9.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

finish dynamic loop for mock JSON early
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve dynamic mock data sending
  packages/backend/src/data/11.json
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add simulation URL to .env
  .env.dist
Due: none

WIP: add basic nodejs worker implementation
  .env.dist
  packages/backend/src/sockets.js
  packages/backend/src/worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

now receiving data from backend in frontend
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/slider-controller.js
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

cleanup env variables for docker & worker
  .env.dist
  docker-compose.yml
  packages/backend/src/sockets.js
  packages/backend/src/worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

set worker active env value to 1 in env.dist
  .env.dist
Due: none

preformance optimization of rendering species
  packages/frontend/src/data/new-json-data-format/dynamic-data.json
  packages/frontend/src/js/controllers/visualization-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

eventListener socket function disabled for now because npm run F dev not working with it)
  packages/frontend/src/js/controllers/slider-controller.js
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

restructure worker and integrate in socket connections #97
  packages/backend/src/index.js
  packages/backend/src/sockets.js
  packages/backend/src/worker.js
  packages/backend/src/worker/start.js
  packages/backend/src/worker/worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fetch dynamic sim data from sim http server via worker & relay to frontend
  packages/backend/src/index.js
  packages/backend/src/sockets.js
  packages/backend/src/worker/start.js
  packages/backend/src/worker/worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update layout for tablet view / fixed slider span number (not final)
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix Docker URLs & ports to connect all 3 services
  .env.dist
  docker-compose.yml
  packages/backend/src/index.js
  packages/backend/src/worker/start.js
  packages/backend/src/worker/worker.js
  packages/simulation/start.py
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added graph naming
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

json schemas
  package-lock.json
  packages/backend/package.json
  packages/backend/src/schemas/dynamic-schema.json
  packages/backend/src/schemas/initial-schema.json
  packages/backend/src/schemas/slider-output-schema.json
  packages/backend/src/schemas/subschemas/plots/coverage-schema.json
  packages/backend/src/schemas/subschemas/plots/plotdata-schema.json
  packages/backend/src/schemas/subschemas/plots/tof-schema.json
  packages/backend/src/schemas/subschemas/visualization/config-schema.json
  packages/backend/src/schemas/subschemas/visualization/fixedSpecies-schema.json
  packages/backend/src/schemas/subschemas/visualization/sites-schema.json
  packages/backend/src/schemas/subschemas/visualization/species-schema.json
  packages/backend/src/schemas/subschemas/visualization/typeDefinitions-schema.json
  packages/frontend/src/js/controllers/visualization-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added loading spinner / layout adjustments
  packages/frontend/src/index.js
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fetch static sim data from sim http server & relay to frontend
  .env.dist
  docker-compose.yml
  packages/backend/src/index.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

remove logging initial data
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Path conditions:
  prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn: any of: **/*.{js,ts,json,html,md}
  eslint --fix --config ./.eslintrc.json: any of: **/*.{js,ts}
