Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update License
  LICENSE
Due: none

finish slider event data propagation to sim server #87
  packages/backend/src/handlers/events/slider.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

log delay in worker in debug level
  packages/backend/src/worker/worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

changed attribute name
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

refactoring: moved toggle legend functionality to LegendController
  packages/frontend/src/js/controllers/legend-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

pause button hidden while loading
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed appending of sliders and legend conntent on socket reload
  packages/frontend/src/js/controllers/legend-controller.js
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/slider-controller.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

legend now as table
  packages/frontend/src/js/controllers/legend-controller.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Update start.py to return a status code of 400 for invalid requests
  packages/simulation/start.py
Due: none

Update start.py 'pause' and 'resume' endpoints
  packages/simulation/start.py
Due: none

HTTP status code update (#117)
  packages/simulation/start.py
Due: none

toggle plots as checkboxes
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added styling for checkboxes
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

removed commented out code
  packages/frontend/src/js/controllers/visualization-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

removed box shadow from unselected checkbox
  packages/frontend/src/styling/simulation.css
Due: none

updated margin for checkbox containers
  packages/frontend/src/styling/simulation.css
Due: none

removed white space between simultaion title and legend button
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

changed font face to Roboto-Light
  packages/frontend/src/styling/simulation.css
Due: none

changed h1 to Roboto-Medium
  packages/frontend/src/styling/simulation.css
Due: none

removed code that beaceme redundant due to the usage of radioButtons instead of checkboxes
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

decrease webpack build time
  package-lock.json
  packages/frontend/.eslintrc.json
  packages/frontend/package.json
  packages/frontend/src/index.html
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/simulation.html
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

removed useless plotly tools from plots toolbar
  packages/frontend/src/js/controllers/plot-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix webpack dev server
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/index.html
  packages/frontend/src/js/simulation.js
  packages/frontend/src/simulation.html
  packages/frontend/webpack.dev.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

get initial data from sim outside of sockets.js
  packages/backend/src/index.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update README and comments to .env.dist
  .env.dist
  README.md
  packages/simulation/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add a ¡PANIC! FAQ answer to README
  README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

replace worker with FetchWorker class #129
  packages/backend/src/index.js
  packages/backend/src/worker/main.js
  packages/backend/src/worker/model/Worker.js
  packages/backend/src/worker/start.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

set isSuperUser to true
  packages/frontend/src/js/controllers/simulation-view-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added basic error handling for sockets in frontend, added distinction between super-user and normal user for slider display in frontend currently hardcoded to super-user (WIP)
  packages/frontend/src/data/new-json-data-format/dynamic-data.json
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/slider-controller.js
  packages/frontend/src/js/services/sockets.js
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve worker & worker usage #129
  packages/backend/src/index.js
  packages/backend/src/sockets.js
  packages/backend/src/worker/main.js
  packages/backend/src/worker/model/Worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

isuperuser true
  packages/frontend/src/js/controllers/simulation-view-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added gizmo
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/visualization-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

move worker model & use run file path env variable
  packages/backend/src/index.js
  packages/backend/src/models/Worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add worker run file path as env variable
  .env.dist
  docker-compose.yml
  packages/backend/src/worker/model/Worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix worker delay from env
  packages/backend/src/models/Worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

log plots
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/services/sockets.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

removed redundant code from plot-controller.js
  packages/frontend/src/js/controllers/plot-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Path conditions:
  prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn: any of: **/*.{js,ts,json,html,md}
  eslint --fix --config ./.eslintrc.json: any of: **/*.{js,ts}
