Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix FE dev server
  packages/frontend/webpack.dev.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update frontend readme
  packages/frontend/README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update libs readme
  packages/libs/README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update sim package readme
  packages/simulation/README.md
  packages/simulation/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update .env.dist with comments
  .env.dist
Due: none

remove duplicate simulations for preview
  .env.dist
  docker-compose.yml
  packages/backend/src/config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update License
  LICENSE
Due: none

update project readme
  README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update database to remove gone fake sims, too
  packages/backend/src/database.db
Due: none

update project readme to include section about roles & permissions
  README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add the same section to FE readme
  packages/frontend/README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add notes about BE database to backend readme
  packages/backend/README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

remove unused API routes #101
  packages/backend/src/handlers/protected/protected.js
  packages/backend/src/routes/protected.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix JSDocs for SimController to include type and slider infos
  packages/backend/src/controllers/SimController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix user role event emit log
  packages/backend/src/handlers/sockets/sim-id.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed hover of reset button for guests/students
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update Readme to include better title and project outline
  README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

Dev (#167)
  README.md
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Path conditions:
  prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn: any of: **/*.{js,ts,json,html,md}
  eslint --fix --config ./.eslintrc.json: any of: **/*.{js,ts}
