Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

mocked config.json with base64 encoded image
  packages/frontend/src/data/config.json
  packages/frontend/src/js/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add helmet to express to set correct http headers #47
  package-lock.json
  packages/backend/package.json
  packages/backend/src/app.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add jsonwebtoken package and add createJWT function
  .env.dist
  package-lock.json
  packages/backend/package.json
  packages/backend/src/utils/generate-jwt.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

move /list endpoint into unprotected
  packages/backend/src/routes/protected.js
  packages/backend/src/routes/public.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve sim-list /list endpoint
  packages/backend/src/handlers/protected/sim-list.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fetching simlist
  packages/frontend/src/js/components/simulation-preview.js
  packages/frontend/src/js/controllers/LandingPageController.js
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/controllers/SliderController.js
  packages/frontend/src/js/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

title and description as constructor parameters for SimulationPageController
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update sim config with description
  packages/backend/src/config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

create a fake second simulation in config
  packages/backend/src/config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

getting titel and description from BE
  packages/backend/src/sockets.js
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/js/services/sockets.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added some mock simulations to config.json for live demo
  packages/backend/src/config.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add a range of fake preview images & include them in config
  packages/backend/src/config.json
  packages/backend/src/images/1.jpeg
  packages/backend/src/images/2.jpeg
  packages/backend/src/images/3.jpeg
  packages/backend/src/images/4.jpeg
  packages/backend/src/images/5.jpeg
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

improve python server /slider error responses
  packages/simulation/start.py
Due: none

re-activate sending updated parameters to sim via sliders
  packages/backend/src/controllers/SimController.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

cleanup socket.js by moving handlers into own files
  packages/backend/src/handlers/sockets/sim-id.js
  packages/backend/src/handlers/sockets/slider.js
  packages/backend/src/sockets.js
  packages/backend/src/utils/worker.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Range slider rework
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/js/controllers/LegendController.js
  packages/frontend/src/js/controllers/SliderController.js
  packages/frontend/src/resources/misc/chevron_up_inverse.svg
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/range-slider.css
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

comment out range slider log info
  packages/frontend/src/js/components/range-slider.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix logarithmic/linear scale info label
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/styling/range-slider.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix typo in highlight-color
  packages/frontend/src/styling/index.css
  packages/frontend/src/styling/range-slider.css
  packages/frontend/src/styling/simulation.css
Due: none

adjust padding for range sliders
  packages/frontend/src/styling/range-slider.css
Due: none

improve legend css
  packages/frontend/src/js/controllers/LegendController.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

improve plot checkbox container css
  packages/frontend/src/styling/simulation.css
Due: none

decrease play button size
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fix distance legend container to sim title
  packages/frontend/src/styling/simulation.css
Due: none

improve preview image rendering & translater page title
  packages/frontend/src/index.html
  packages/frontend/src/styling/simulation-preview.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

Frontend/range slider (#144)
  packages/frontend/src/index.html
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/js/controllers/LegendController.js
  packages/frontend/src/js/controllers/SliderController.js
  packages/frontend/src/resources/misc/chevron_up_inverse.svg
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/index.css
  packages/frontend/src/styling/range-slider.css
  packages/frontend/src/styling/simulation-preview.css
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

server images from backend directly instead base64 encoded
  packages/backend/src/app.js
  packages/backend/src/controllers/SimController.js
  packages/backend/src/utils/config.js
  packages/frontend/src/js/controllers/LandingPageController.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add compression for expressjs
  package-lock.json
  packages/backend/package.json
  packages/backend/src/app.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add HTTPS support
  .env.dist
  .gitignore
  docker-compose.yml
  packages/backend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

cleanup FE/sockets.js
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed view port height of plots, titlebar smaller
  packages/frontend/src/index.html
  packages/frontend/src/js/controllers/LegendController.js
  packages/frontend/src/js/controllers/SimulationPageController.js
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/index.css
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixed titlebar scaling
  packages/frontend/src/styling/index.css
  packages/frontend/src/styling/simulation.css
Due: none

send simId again on FE reconnect
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add sqlite dependency
  package-lock.json
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add a FE reconnect event listener
  packages/frontend/src/js/services/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add WIP setup of SQLite
  packages/backend/database.db
  packages/backend/src/index.js
  packages/backend/src/services/sqlite.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

ignore watching more files for nodemon
  packages/backend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

move database file
  packages/backend/src/database.db
Due: none

rename config.js for config.json & add uuid updates to file
  packages/backend/src/index.js
  packages/backend/src/utils/config-file.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Path conditions:
  prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn: any of: **/*.{js,ts,json,html,md}
  eslint --fix --config ./.eslintrc.json: any of: **/*.{js,ts}
