Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

WIP: slider component
  packages/frontend/src/components/range-slider.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

back Btn functionality
  packages/frontend/src/components/menu-preview.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added css files to one index.css
  packages/frontend/src/styling/index.css
Due: none

added backbtn functionaltiy
  packages/frontend/src/index.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update layout
  packages/frontend/src/styling/index.css
Due: none

update single view simulation with webComp
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update index.css and user icon
  packages/frontend/src/ressources/misc/user.png
  packages/frontend/src/styling/index.css
Due: none

added svg for favicon
  packages/frontend/src/ressources/misc/fhi_logo_1.svg
Due: none

added favicon
  packages/frontend/src/index.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update canvas view
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update reset button style / layout
  packages/frontend/src/styling/index.css
Due: none

update single view
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update index.css
  packages/frontend/src/styling/index.css
Due: none

add libs as dependencies and import correctly
  package-lock.json
  packages/backend/package.json
  packages/backend/src/utils/logger.js
  packages/libs/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

move plotly dependencies to frontend package
  package.json
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add libs as dependencies to frontend
  package-lock.json
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fix format:fix script and format project
  package.json
  packages/frontend/src/data/new-json-data-format/dynamic-data.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add socket.io to actual frontend source code & fix vite.config
  packages/frontend/src/index.html
  packages/frontend/src/utils/events.js
  packages/frontend/vite.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix import for socket event types in backend
  packages/backend/src/handlers/events/message.js
  packages/backend/src/utils/events.js
  packages/backend/src/websockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

WIP: Work on ticket #55 and #69
  packages/frontend/src/components/range-slider.js
  packages/frontend/src/simulation.html
  packages/frontend/src/simulation.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update css for layout
  packages/frontend/src/styling/index.css
Due: none

update single view page
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fix backend readme server port
  packages/backend/README.md
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

init python simulation workspace package
  README.md
  package-lock.json
  package.json
  packages/simulation/README.md
  packages/simulation/package.json
  packages/simulation/src/main.py
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add actual python simulation scripts
  packages/simulation/methanation/Methanation_simplified_further.py
  packages/simulation/methanation/methanation_kmc_adsorbate_scaling_input.txt
  packages/simulation/src/main.py
Due: none

refactored simulation.js and split it up into 3 controllers (not tested yet WIP)
  packages/frontend/src/controllers/plot-controller.js
  packages/frontend/src/controllers/simulation-controller.js
  packages/frontend/src/controllers/visualization-controller.js
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

WIP: Making the Font offline-accessible and incorporating marcs changes
  packages/frontend/src/ressources/fonts/LICENSE.txt
  packages/frontend/src/ressources/fonts/Roboto-Black.ttf
  packages/frontend/src/ressources/fonts/Roboto-BlackItalic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Bold.ttf
  packages/frontend/src/ressources/fonts/Roboto-BoldItalic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Italic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Light.ttf
  packages/frontend/src/ressources/fonts/Roboto-LightItalic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Medium.ttf
  packages/frontend/src/ressources/fonts/Roboto-MediumItalic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Regular.ttf
  packages/frontend/src/ressources/fonts/Roboto-Thin.ttf
  packages/frontend/src/ressources/fonts/Roboto-ThinItalic.ttf
  packages/frontend/src/ressources/misc/user.png
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

better names for helper functions in SimulationController
  packages/frontend/src/controllers/simulation-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

run Python simulation in Docker with example Output #73
  docker-compose.yml
  packages/simulation/Dockerfile
  packages/simulation/start.py
Due: none

update sim example data start script
  packages/simulation/start.py
Due: none

fix TERM env warning for Python sim
  packages/simulation/Dockerfile
Due: none

use python3-ase instead of ase for sim deps
  packages/simulation/Dockerfile
Due: none

update index.html
  packages/frontend/src/index.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update css
  packages/frontend/src/styling/index.css
Due: none

WIP: webpack
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/index.html
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

revert webpack config & re-install deps
  package-lock.json
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

WIP: webpack 2
  packages/frontend/package.json
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix module.exports typo
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added LegendController, added toggleLegend to SimulationViewController
  packages/frontend/src/controllers/legend-controller.js
  packages/frontend/src/controllers/simulation-view-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

WIP: Webpack 3
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/index.html
  packages/frontend/src/simulation.html
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Path conditions:
  prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn: any of: **/*.{js,ts,json,html,md}
  eslint --fix --config ./.eslintrc.json: any of: **/*.{js,ts}
