Repository kelzenberg/master-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

.lintstagedrc:

{
  "**/*.{js,ts,json,html,md}": [
    "prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn"
  ],
  "**/*.{js,ts}": ["eslint --fix --config ./.eslintrc.json"]
}

removed toggle function from LegendController (legend will be visible permanently
  packages/frontend/src/controllers/legend-controller.js
  packages/frontend/src/controllers/simulation-view-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

remove html-webpack-plugin
  package-lock.json
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

install css/sass webpack loaders
  package-lock.json
  packages/frontend/package.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

cleanup head sections in html files
  packages/frontend/src/index.html
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

Frontend/webpack integration (#76)
  package-lock.json
  packages/frontend/package.json
  packages/frontend/src/index.html
  packages/frontend/src/simulation.html
  packages/frontend/webpack.config.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

updated layout
  packages/frontend/src/simulation.html
  packages/frontend/src/simulation.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

re-added toggle legend interface
  packages/frontend/src/controllers/legend-controller.js
  packages/frontend/src/controllers/simulation-view-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Frontend/simulation page rework (#77)
  packages/frontend/src/components/range-slider.js
  packages/frontend/src/ressources/fonts/LICENSE.txt
  packages/frontend/src/ressources/fonts/Roboto-Black.ttf
  packages/frontend/src/ressources/fonts/Roboto-BlackItalic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Bold.ttf
  packages/frontend/src/ressources/fonts/Roboto-BoldItalic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Italic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Light.ttf
  packages/frontend/src/ressources/fonts/Roboto-LightItalic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Medium.ttf
  packages/frontend/src/ressources/fonts/Roboto-MediumItalic.ttf
  packages/frontend/src/ressources/fonts/Roboto-Regular.ttf
  packages/frontend/src/ressources/fonts/Roboto-Thin.ttf
  packages/frontend/src/ressources/fonts/Roboto-ThinItalic.ttf
  packages/frontend/src/ressources/misc/user.png
  packages/frontend/src/simulation.html
  packages/frontend/src/simulation.js
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Refactor simulation js (#78)
  packages/frontend/src/controllers/legend-controller.js
  packages/frontend/src/controllers/plot-controller.js
  packages/frontend/src/controllers/simulation-view-controller.js
  packages/frontend/src/controllers/visualization-controller.js
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

move all FE javascript files into own folder
  packages/frontend/src/index.html
  packages/frontend/src/js/components/range-slider.js
  packages/frontend/src/js/components/simulation-preview.js
  packages/frontend/src/js/controllers/legend-controller.js
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/visualization-controller.js
  packages/frontend/src/js/models/Molecule.js
  packages/frontend/src/js/models/Species.js
  packages/frontend/src/js/utils/events.js
  packages/frontend/src/simulation.html
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

move simulation test data JSON files into backend
  packages/backend/src/data/1.json
  packages/backend/src/data/10.json
  packages/backend/src/data/11.json
  packages/backend/src/data/2.json
  packages/backend/src/data/3.json
  packages/backend/src/data/4.json
  packages/backend/src/data/5.json
  packages/backend/src/data/6.json
  packages/backend/src/data/7.json
  packages/backend/src/data/8.json
  packages/backend/src/data/9.json
  packages/backend/src/data/initial.json
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

#79 Performance optimization: all meshes created intially now, visibility changed when needed
  packages/frontend/src/data/new-json-data-format/dynamic-data.json
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/visualization-controller.js
  packages/frontend/src/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

PlotController getting colors from intialData, abstracted getColors and getLabels, only single layout for both plots
  packages/frontend/src/js/controllers/plot-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added fhi logo
  packages/frontend/src/index.html
  packages/frontend/src/ressources/misc/fhi_logo.svg
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

Revert "added fhi logo"
  packages/frontend/src/index.html
  packages/frontend/src/ressources/misc/fhi_logo.svg
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

add JSON file reader
  packages/backend/src/utils/filereader.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

integrated refactored code in simulation.js, now using controllers for rendering data
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/slider-controller.js
  packages/frontend/src/js/controllers/visualization-controller.js
  packages/frontend/src/js/simulation.js
  packages/frontend/src/simulation-old.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

serve frontend directly in development env
  packages/backend/src/app.js
  packages/backend/src/index.js
  packages/backend/src/static/.gitkeep
  packages/backend/src/static/index.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

add logger to socket event handlers
  packages/backend/src/handlers/events/message.js
  packages/backend/src/websockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

replace vite.config with webpack.config in dockerfile
  packages/backend/Dockerfile
Due: none

add init to socket event types
  packages/libs/src/events.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

added favicon/ update layout
  packages/frontend/src/index.html
  packages/frontend/src/ressources/misc/fhi_logo.svg
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/index.css
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

added basic implementation of SliderController
  packages/frontend/src/data/new-json-data-format/initial-data.json
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/controllers/slider-controller.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

Webcomponent polyfill
  packages/frontend/src/index.html
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

update layout
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

send initial JSON config to frontend on connection
  packages/backend/src/websockets.js
  packages/frontend/src/js/utils/events.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix file reader by returning read files duh
  packages/backend/src/app.js
  packages/backend/src/utils/filereader.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fix BE socket logger
  packages/backend/src/websockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename events file & move sockets to simulation page
  packages/frontend/src/index.html
  packages/frontend/src/js/services/sockets.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

fixing range-slider path, plotly repsonsive
  packages/frontend/src/js/controllers/plot-controller.js
  packages/frontend/src/simulation.html
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

markers shown in plots, lineWidth + markerSize as attributes of PlotController
  packages/frontend/src/js/controllers/plot-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

removed simulation-old.js, removed example usage comment
  packages/frontend/src/js/controllers/simulation-view-controller.js
  packages/frontend/src/js/simulation.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

re-added simulation.js, deleted simulation-old.js
  packages/frontend/src/js/simulation.js
  packages/frontend/src/simulation-old.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

removed gizmo
  packages/frontend/src/js/controllers/visualization-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

new plotdata as list
  packages/frontend/src/data/new-json-data-format/dynamic-data.json
  packages/frontend/src/data/new-json-data-format/initial-data.json
  packages/frontend/src/js/controllers/plot-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

rename websockets file in backend
  packages/backend/src/index.js
  packages/backend/src/sockets.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update flex shrink layout
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

fixed directional light positioning
  packages/frontend/src/js/controllers/visualization-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json

update backBtn functionality/ update lorem ipsu to simulation description
  packages/frontend/src/simulation.html
  packages/frontend/src/styling/simulation.css
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn

outcomment resizeCanvas
  packages/frontend/src/js/controllers/visualization-controller.js
Due: prettier --check --config ./.prettierrc --ignore-path ./.eslintignore --log-level=warn, eslint --fix --config ./.eslintrc.json
